{% extends "base.html" %}
{% block title %}Plot{% endblock %}
{% block body %}

<form action="/plot" method="POST" enctype="multipart/form-data">
    <input type="file" accept="image/*" name="image" required="required" />
    <button type="submit" name="action">Upload</button>
</form>

<!-- This is a more sophisticated form. But the slider renders badly.
<form action="/plot" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>File upload</legend>
        <input type="file" accept="image/*" name="image" required="required" />
    </fieldset>
    <fieldset>
        <legend>Probability cutoff</legend><br>
        <input type="range" min="1" max="100" value="50" name="cutoff">
    </fieldset>
    <button type="submit" name="action">Upload</button>
</form>
-->

{% if result %}

    <h3>
        {{ result['class'] }}
        <!-- <meter style="margin: 0.4em 0.4em 0 0.4em;" max="1" low="0.3" high="0.5" optimum="1" value="{{ result['prob'] }}"></meter> -->
        <span style="color:lightgray;">p = {{ "%.3f"|format(result['prob']) }}</span>
    </h3>

    <img src="data:image/png;base64,{{ result['plot'] }}" width=100% />
    <img src="data:image/png;base64,{{ result['image'] }}" width=100% />

{% endif %}

{% endblock %}