{% extends "base.html" %}
{% block title %}Plot{% endblock %}
{% block body %}


<form action="/plot" method="POST" enctype="multipart/form-data">
    <input type="file" accept="image/*" name="image" required="required" />
   <button type="submit" name="action">Upload</button>
</form>

{% if result %}

    <h3>
        {{ result['class'] }}
        <span style="color:lightgray">p = {{ "%.3f"|format(result['prob']) }}</span>
    </h3>
    <img src="data:image/png;base64,{{ result['plot'] }}" width=100% />
    <img src="data:image/png;base64,{{ result['image'] }}" width=100% />

{% endif %}

{% endblock %}